
.answer-list {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.portait .answer-list {
    flex-direction: column
}

.landscape .answer-list {
    flex-direction: row
}


.answer {
    display: block;
    flex: 1;
    position: relative;
    transition: background-color 0.3s;
}

.answer.winning {
    box-shadow: 0 0 10vw 0 rgba(0,0,0,0.1);
    background: #fff !important;
    color:rgb(0, 0, 255);
    z-index: 50;
}

.closed .answer:not(.winning) {
    color: #666;
}

h3 {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    text-align: center;
    padding: 1vw;
}

.portait h3 {
    font-size: 3vh;
}

.running.portait .answer.clicked h3 {
    font-size: 2.5vh;
}

.landscape h3 {
    font-size: 3vw;
}

.running.landscape .answer.clicked h3 {
    font-size: 2.5vw;
}

.running .answer.winning h3 {
    text-decoration: underline
}

.running .answer:hover h3 {
    text-decoration: underline
}
