
input {
    font-size: 1em;
    outline: none;
    border: none;
    font-style: italic;
    width: 400px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

input:focus {
    color: blue;
}

input::placeholder {
    color: #666;
}

input[disabled] {
    color: black;
}

span.answer-numerator {
    position: absolute;
    color: #666;
}

.answer-input {
    padding-left: 20px;
}

.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    transition: all 300ms;
}

.create-voting-form span {
}

a {
    color: #000;
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: #000;
}

a:hover {
    text-decoration: underline;
}
